
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    font-family: "Arial";
    color:#4a4a4a;
    background:#e5e5e5;
  }
  
  h1{
    margin-top:2rem;
    font-size: 80px;
  }
  
  .wavy, .blink {
    animation: wavy 1.3s ease infinite, blink 2s linear infinite;
}

@keyframes wavy {
    0%, 100% {
        top: 0px;
    }
    50% {
        top: -15px;
    }
}

@keyframes blink {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: violet; }
    100% { color: red; }
}